.task-tracker-region [class*='table-row_styles__row--'][class*='table_styles__base-row--'] {
  width: 100%;
}

.task-tracker-region [class*='table_styles__title-container--'], [class*='table_styles__title-header--'][class*='table_styles__padded-header--'] {
  flex-grow: 1;
}

.task-tracker-region [class*='table_styles__table-body--'] {
  padding-top: 0;
}

#sidepanel-resize-bar {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: -4px;
  cursor: ew-resize;
  opacity: 0;
  z-index: 9999;
}

#side-panel {
  max-width: 90vw;
  min-width: 400px;
}

#side-panel [class*='tracker-panel-workspace-link-wrapper-'] {
  max-width: 75%;
}