.task-tracker-region [class*='table-row_styles__row--'][class*='table_styles__base-row--'] {
  width: 100%;
}

.task-tracker-region [class*='table_styles__title-container--'], [class*='table_styles__title-header--'][class*='table_styles__padded-header--'] {
  flex-grow: 1;
}

.task-tracker-region [class*='table_styles__table-body--'] {
  padding-top: 0;
}

#sidepanel-resize-bar {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: -4px;
  cursor: ew-resize;
  opacity: 0;
  z-index: 9999;
}

#side-panel {
  max-width: 90vw;
  min-width: 400px;
}

#side-panel [class*='tracker-panel-workspace-link-wrapper-'] {
  max-width: 75%;
}

.hide-private-messages-toggle .label::before {
  content: 'Normal';
}

.event-menus > .menu {
  position: relative;
}

.event-menus > .menu::after {
  background: var(--palette-neutral-light, #E1E1DD);
  height: 1px;
  width: 1px;
  position: absolute;
  left: -1px;
  bottom: -1px;
  content: '';
}

#side-panel .posts-main .sidepanel-activity-menu {
  width: 100%;
  background-color: var(--palette-neutral-xx-light, #FBFAF6);
  height: 23px;
  border-top: 1px solid var(--palette-neutral-mid-light, #C8C8C8);
  border-bottom: 1px solid var(--palette-neutral-mid-light, #C8C8C8);
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.sidepanel-activity-menu .menu {
  float: right;
  border-left: 1px solid var(--palette-neutral-light);
}